
.navbar {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
    margin: 0;
}

.item {
    border: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;

    /*background-color: #fff3af;*/
    background-color: #ffd271;

}
