.container {
  padding: 1em 0 5em;
}

.heading {
  text-align: center;
}
.img {
  width: 120px;
  margin: auto;
}

.img img {
  border: 10px solid #ffd271;
  border-radius: 50%;
  max-width: 100%;
}

.text {
  line-height: 1.5;
  text-align: center;
  padding: 0 8px;
}
