.container {
  padding: 56px 56px 0;
  margin-bottom: 250px;
}

.iconContainer {
  text-align: center;
  margin-bottom: 20px;
}

.icon {
  width: 70px;
}

.soundContainer {
  text-align: center;
  margin: 40px 0;
}
