:root {
  --border-radius: 0.5rem;
}

.categoryList {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 100px 0;
  display: flex;
  flex-direction: column;
}

.categoryListItem {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 1rem 1rem 1rem;
  max-height: 100px;
  cursor: pointer;
  background-color: rgba(255, 210, 113, 0.6);
  border-radius: var(--border-radius);
  color: #260000;
}

.imgContainer {
  height: 100px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 0 0 100px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.categoryList img {
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

.categoryList p {
  display: flex;
  padding: 1rem;
  font-size: 16px;
  font-weight: bold;
  align-self: center;
}
