body {
  margin: 0;
  font-family: 'Nunito sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff3af;
  color: #260000;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.welcome-container {
  padding: 120px 1em 0;
  overflow: hidden;
  height: 100%;
  position: relative;
  text-align: center;
}

.orange-blob {
  position: absolute;
  top: -100px;
  left: -30px;
  border-radius: 47.290247612249225% 52.709752387750775% 24.180103772471867% 75.81989622752813% /
    63.96916028097104% 68.79954123792271% 31.20045876207729% 36.03083971902896%;
  background: #ffd271;
  width: 200%;
  height: 200px;
  z-index: -1;
}

.green-blob {
  position: absolute;
  bottom: -50px;
  right: -30px;
  border-radius: 47.290247612249225% 52.709752387750775% 24.180103772471867% 75.81989622752813% /
    63.96916028097104% 68.79954123792271% 31.20045876207729% 36.03083971902896%;
  background: #c3f584;
  width: 200%;
  height: 200px;
  z-index: -1;
}

body,
p,
div,
span,
button,
.text,
a,
li {
  font-family: 'Nunito sans', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
.header {
  font-family: 'Nunito', serif;
}

.header:hover {
  color: #f65c78;
}

.color-red {
  color: #f65c78;
}

.color-orange {
  color: #ffd271;
}

.color-yellow {
  color: #fff3af;
}

.color-green {
  color: #c3f584;
}

a.active-item i {
  color: #f65c78;
}

.color-white {
  color: white;
}

.instruction-item {
  border: 1px solid black;
}

.radio-container {
  display: flex;
  flex-direction: row;
}
.radio-container label {
  flex-grow: 1;
  font-weight: bold;
  font-size: 16px;
}
.radio-container label input {
  margin-right: 0.5rem;
}

a:hover {
  color: #f65c78;
}
